.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding: 10px 0; */
  color: #ffffff;
  padding: 20px;

  &>div {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 5px;
  }
}


